body {
    background-image: url('assets/wallpaper.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    font-family: monospace;
    color: rgb(247, 234, 205);
    backdrop-filter: blur(40px);
    top: 0;
    left: 0;
}


.navbar {
    background-color: whilte;
    display: flex;
    flex-direction: row;
    color: black;
    padding: 25px 20px 25px 20px;
   
}

.navbar-right {
    margin-left: auto;
}

.navbar-right img{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    
}

.navbar-left {
    margin-left: 20px;
    margin-right: auto;
}


button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgb(247, 234, 205);
    padding: 12px;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}


.portfolio-title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-decoration: none;
}

.description {
    display: block;
    margin: 20px auto 20px auto;
    max-width: 800px;
    padding: 20px;
    font-size: 20px;
    height: 100%;
}


