.projectCard {
  height: auto;
  width: 100%;
  transition: 0.15s ease;
  transform: scale(1);
  background-color: hsla(0, 3%, 12%, 0.2);
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.6);
  border-radius: 10px;
  padding: var(--space-none) var(--space-md);
  opacity: 0.85;
  cursor: pointer;
  border: none;
  color: var(--color-btn);
}

.projectCard img {
  max-height: 420px;
  width: 100%;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 10px;
  margin-top: var(--space-md);
}

.projectCard:hover {
  opacity: 1;
}

.projectCard:active {
  opacity: 0.7;
}

.projectCard h3 {
  font-size: 1.6rem;
  margin-left: var(--space-sm);
  text-shadow: 0px 0px 5px black;
  margin-bottom: 0;
  display: flex;
  text-align: left;
}

.projectDesc {
  height: 80px;
  font-size: 1.3rem;
  text-shadow: 0px 0px 5px black;
  text-align: left;
  color: hsla(42, 87%, 94%, 0.8);
  margin-bottom: 1.6rem;
  font-weight: 400;
}

ul {
  color: hsla(42, 87%, 94%, 0.8);
  padding: 0 2rem;
}

li {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid hsla(42, 87%, 94%, 0.2);
  
}

li:last-child {
  border-bottom: none;
}

.status {
  display: flex;
  justify-content: end;
  font-size: 1rem;
  margin-right: var(--space-sm);
  margin-bottom: var(--space-md);
}

.cardDetailWrap {
  border: none;
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 10;
}

.cardDetail {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: var(--space-none) var(--space-auto);
  height: 640px;
  width: 1200px;
  border-radius: 10px;
  overflow: hidden;
  color: var(--color-text);
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.671);
}
.cardDetail h3 {
  font-size: 2rem;
}

.imageContainer {
  background-color: rgb(20, 18, 16);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 90%;
  border-radius: 10px;
  border: 1px solid hsla(42, 87%, 94%, 0.4);
}
.info {
  padding: 0 2rem;
  background-color: rgb(32, 30, 28);
  text-shadow: 0px 0px 4px black;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

p span {
  font-weight: 600;
}

p {
  margin-bottom: 1.6rem;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--color-btn);
  color: var(--color-text);
  padding: var(--space-sm) var(--space-md);
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.1s ease;
  cursor: pointer;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn:hover {
  color: var(--color-btn-hover);
  transform: scale(1.03);
  background-color: var(--color-accent);
  box-shadow: 0px 0px px var(--color-accent);
}

.btn:active {
  color: var(--color-btn-press);
}

.btnContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 1250px) {
  .cardDetail {
    width: 900px;
    height: 610px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .cardDetail {
    height: 1100px;
    width: 500px;
    grid-template-columns: none;
  }

  .cardDetail img {
    margin: var(--space-md);
  }
}

@media (max-width: 500px) {
  .cardDetail {
    width: 350px;
  }
}