.app-container {
  margin: 50px 120px;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 25px 20px;
}

a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-right {
  margin-left: auto;
}

.title {
  margin-left: 50px;
  margin-right: auto;
  text-align: left;
  white-space: nowrap;
  font-size: 2.6rem;
}

.nav-btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-btn);
  padding: 12px;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.nav-btn:hover, .github-btn:hover{
  color: var(--color-btn-hover);
  transform: scale(1.03);
}

.nav-btn:active, .github-btn:active {
  color: var(--color-btn-press);
}

.description {
  display: block;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
  font-size: 1.4rem;
  height: 90%;
}

.github {
  -webkit-mask-image: url("/github.png");
  mask-image: url("/github.png");
}

.linkedin {
  -webkit-mask-image: url("/linkedin.png");
  mask-image: url("/linkedin.png");
}

.world{
  -webkit-mask-image: url("/world.svg");
  mask-image: url("/world.svg");
}

.github, .linkedin, .world{
  width: 25px;
  height: 25px;
  padding-left: 2px;
}

.duck {
  -webkit-mask-image: url("/duck.png");
  mask-image: url("/duck.png");
  width: 70px;
  height: 70px;
}

.icon {
  cursor: pointer;
  background-color: var(--color-btn);
  transition: 0.15s ease;
  
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: no-repeat;
}

.nav-btn:hover > .icon, .icon:hover {
  background-color: var(--color-btn-hover);
  transform: scale(1.03);
}
.nav-btn:active > .icon, .icon:active {
  background-color: var(--color-btn-press);
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.project-card {
  height: auto;
  width: 100%;
  transition: 0.15s ease;
  transform: scale(1);
  background-color: hsla(0, 3%, 12%, 0.301);
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.6);
  border-radius: 10px;
  padding: 0px 20px;
  opacity: 0.85;
  cursor: pointer;
  border: none;
  color: var(--color-btn);
  font-size: 1rem;
}


.project-card img {
  max-height: 420px;
  width: 100%;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 10px;
  margin-top: 20px;
}

.project-card:hover {
  opacity: 1;
}
.project-card:active {
  opacity: 0.7;
}

.project-desc {
  height: 80px;
  font-size: 1.2rem;
  text-shadow: 0px 0px 5px black;
  text-align: left;
  margin-left: 20px;
}

.project-card h3 {
  font-size: 1.4rem;
  margin-left: 20px;
  text-shadow: 0px 0px 5px black;
  margin-bottom: 0;
  display: flex;
  text-align: left;
}

.status {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

footer, .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.contact {
  margin: 60px 0;
}

.contact h1 {
  font-size: 3rem;
}

.contact button{
  border: 1px solid var(--color-btn);
  border-radius: 15px;
  transition: transform 0.1.5s ease;
  cursor: pointer;
}

.contact button:hover, .github-btn:hover {
  background-color: var(--color-accent);
  box-shadow: 0px 0px px var(--color-accent);
}

.card-detail-wrap {
  border: none;
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.4);
  z-index: 5;
}

.card-detail {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 550px;
  width: 950px;
  border-radius: 10px;
  color: var(--color-text);
  font-size: 1.2rem; 
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: hsl(60, 1%, 15%);
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.671);
  transition: 0.15s ease;
  
}

.card-detail img {
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.6);
  place-self: center;
  width: 100%;
  max-width: 550px;
  height: auto;
}

.card-detail h3 {
  font-size: 2rem;
}
.info section {
  text-align: left;
  margin-right: 10px;
}

.github-btn {
  display: flex;
  flex-direction: row;
  gap: 2px;
  background-color: transparent;
  border: 1px solid var(--color-btn);
  color: var(--color-text);
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 10px 0;
  transition: 0.15s ease;
}

.github-link > * {
  display: inline-block;
}

@media (max-width: 1500px) {
  .title{
    margin: 0;
  }

}

@media (max-width: 1150px) {
  .app-container{
    margin: 30px 50px;
  }

  .description {
    max-width: 700px;
  }

  .projects {
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .card-detail {
  height: 500px;
  width: 850px;
  grid-template-columns: 4fr 3fr;
  padding: 0px;
  font-size: 1.1rem;
  gap: 0px;
  }
  .card-detail img {
    width: 435px;
    height: 400px;
  }
}

@media(max-width: 850px){
   .card-detail {
      height: 900px;
      width: 450px;
      grid-template-columns: none;
      grid-template-rows: 2fr 3fr;
      }
    .card-detail img {
      margin-top: 20px;
        width: 405px;
        height: 360px;
    }
    .info {
      margin: 10px 30px 30px 30px;
    }
}


@media (max-width: 800px) {

  .app-container{
    margin: 30px 30px;
  }

  .title {
    font-size: 2.4rem;
    margin-left: 0;
  }
  .description {
      max-width: 500px;
    }
  span {
    display: none;
  }
  
  .navbar-right {
    margin-right: -10px;
  }

  .projects {
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .contact h1 {
  font-size: 1.8rem;
  }
}

@media (max-width: 450px) {

  .title {
    font-size: 2rem;
    margin-left: 0;
  }
  .app-container {
    margin: 30px 20px;
  }
}

