:root {
  --color-text: hsl(42, 77%, 89%);
  --color-btn:  hsl(39, 23%, 70%);
  --color-btn-hover:  hsl(42, 77%, 89%);
  --color-btn-press:hsl(42, 14%, 59%);
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 25px 20px;
}

.navbar-right {
  margin-left: auto;
}

.navbar-left {
  margin-left: 20px;
  margin-right: auto;
}

button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-btn);
  padding: 12px;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.15s ease;
}

button:hover {
  color: var(--color-btn-hover);
  transform: scale(1.03);
}

button:active {
  color: var(--color-btn-press);
}

.portfolio-title {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-decoration: none;
}

.description {
  display: block;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  font-size: 20px;
  height: 90%;
}

.github {
  -webkit-mask-image: url("/github.png");
  mask-image: url("/github.png");
}

.linkedin {
  -webkit-mask-image: url("/linkedin.png");
  mask-image: url("/linkedin.png");
}

.instagram {
  -webkit-mask-image: url("/instagram.png");
  mask-image: url("/instagram.png");
}

.github, .linkedin, .instagram {
  width: 25px;
  height: 25px;
  padding-left: 2px;
}

.duck {
  -webkit-mask-image: url("/duck.png");
  mask-image: url("/duck.png");
  width: 70px;
  height: 70px;
}

.icon {
  cursor: pointer;
  background-color: var(--color-btn);
  transition: 0.15s ease;
  
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: no-repeat;
}

button:hover > .icon, .icon:hover {
  background-color: var(--color-btn-hover);
  transform: scale(1.03);
}
button:active > .icon, .icon:active {
  background-color: var(--color-btn-press);
}

@media (max-width: 900px) {
  body {
    padding: 0px 30px;
  }
}


@media (max-width: 600px) {
  span {
    display: none;
  }

  .navbar-left {
    margin-left: -10px;
  }

  .navbar-right {
    margin-right: -10px;
  }
}
