.app-container {
  margin: var(--space-xxl) var(--space-xxxl) ;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-size-body);
}

.navbar-right {
  margin-left: var(--space-auto);
}

.title {
  margin-left: var(--space-xl);
  margin-right: var(--space-auto);
  text-align: left;
  white-space: nowrap;
  font-size: var(--font-size-h1);
}

.nav-btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-btn);
  padding: var(--space-sm) var(--space-xs);
  font-size: var(--font-size-s);
  margin: var(--space-xs) var(--space-none);
  cursor: pointer;
  transition: transform 0.15s ease;
}

.nav-btn:hover, .github-btn:hover{
  color: var(--color-btn-hover);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.nav-btn:active, .github-btn:active, .project-btn:active {
  color: var(--color-btn-press);
}

h3 {
  font-size: var(--font-size-h2);
}
.description {
  margin: var(--space-md) var(--space-auto);
  padding-top: var(--space-sm);
  max-width: 1200px;
  font-size: var(--font-size-md);
}

.github {
  -webkit-mask-image: url("/github.png");
  mask-image: url("/github.png");
}

.linkedin {
  -webkit-mask-image: url("/linkedin.png");
  mask-image: url("/linkedin.png");
}

.world{
  -webkit-mask-image: url("/world.svg");
  mask-image: url("/world.svg");
}

.down-arrow {
  -webkit-mask-image: url("/down-arrow.svg");
  mask-image: url("/down-arrow.svg");
}

.github, .linkedin, .world, .down-arrow{
  width: 25px;
  height: 25px;
}

.duck {
  -webkit-mask-image: url("/duck.png");
  mask-image: url("/duck.png");
  width: 70px;
  height: 70px;
}

.icon {
  cursor: pointer;
  background-color: var(--color-btn);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: no-repeat;
}

.nav-btn:hover > .icon, .icon:hover, .project-btn:hover > .down-arrow {
  background-color: var(--color-btn-hover);
  transform: scale(1.03);
}
.nav-btn:active > .icon, .icon:active, .project-btn:active > .down-arrow {
  background-color: var(--color-btn-press);
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-btn-container {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}

.project-btn {
  padding: var(--space-sm);
  font-size: var(--font-size-s);
  background-color: transparent;
  border: 1px solid var(--color-btn);
  color: var(--color-text);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.dropdown-container {
  position: relative;
  z-index: 10;

}

.dropdown-menu {
  position: absolute;
  margin-top: var(--space-sm);
  border-radius: var(--space-xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 10px rgba(0,0,0, 0.3);
  border: none;
  left: 0;
  right: 0;
}

.dropdown-btn {
  border: none;
  background-color: var(--color-dropdown-btn);
  color: var(--color-text);
  width: 100%;
  font-size: var(--font-size-s);
  padding: var(--space-xs);
  cursor: pointer;
}

.dropdown-btn:hover {
background-color: var(--color-dropdown-hover);
}

.dropdown-btn:active {
  background-color: var(--color-dropdown-active) ;
}

.dropdown-overlay {
  position: fixed;
  top: var(--space-none);
  left: var(--space-none);
  bottom: var(--space-none);
  right: var(--space-none);
  background: transparent;
  z-index: 9;
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.project-card {
  height: auto;
  width: 100%;
  transition: 0.15s ease;
  transform: scale(1);
  background-color: hsla(0, 3%, 12%, 0.301);
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.6);
  border-radius: 10px;
  padding: var(--space-none) var(--space-md);
  opacity: 0.85;
  cursor: pointer;
  border: none;
  color: var(--color-btn);
}


.project-card img {
  max-height: 420px;
  width: 100%;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 10px;
  margin-top: var(--space-md);
}

.project-card:hover {
  opacity: 1;
}
.project-card:active {
  opacity: 0.7;
}

.project-desc {
  height: 80px;
  font-size: var(--font-size-body);
  text-shadow: 0px 0px 5px black;
  text-align: left;
  margin: var(--space-sm);
  font-weight: 400;
}

.project-card h3 {
  font-size: var(--font-size-h4);
  margin-left: var(--space-sm);
  text-shadow: 0px 0px 5px black;
  margin-bottom: var(--space-none);
  display: flex;
  text-align: left;
}

.status {
  display: flex;
  justify-content: end;
  margin-right: var(--space-sm);
  margin-bottom: var(--space-md);
}

footer, .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: var(--space-md);
}

.contact {
  margin-bottom: var(--space-xl);
}

.contact h1 {
  font-size: var(--font-size-h1);
}

.contact button{
  border: 1px solid var(--color-btn);
  border-radius: 15px;
  transition: transform 0.15s ease;
  cursor: pointer;
}

.contact button:hover, .github-btn:hover, .project-btn:hover {
  background-color: var(--color-accent);
  box-shadow: 0px 0px px var(--color-accent);
}

.card-detail-wrap {
  border: none;
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.705);
  z-index: 10;
}

.card-detail {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: var(--space-none) var(--space-auto);
  height: 600px;
  width: 920px;
  border-radius: 10px;
  color: var(--color-text);
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: hsla(60, 1%, 15%, 0.719);
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.671);
}

.card-detail img {
  margin: var(--space-auto);
  border-radius: 10px;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.6);
  place-self: center;
  width: 100%;
  max-width: 550px;
  height: auto;
}

.card-detail h3 {
  font-size: var(--font-size-h4);
}

.info {
  margin: var(--space-auto);
  margin-right: var(--space-md);
  text-shadow: 0px 0px 4px black;
  font-size: var(--font-size-body);
}

.info span {
  font-weight: 600;
}

.github-btn {
  background-color: transparent;
  border: 1px solid var(--color-btn);
  color: var(--color-text);
  padding: var(--space-sm) var(--space-md);
  border-radius: 10px;
  font-size: var(--font-size-body);
  margin: var(--space-sm) var(--space-auto);
  transition: 0.1s ease;
  cursor:pointer;
  align-self: center;
  display: flex;
  align-items: center;
}

@media (max-width: 1550px) {
  .title{
    margin: var(--space-none);
  }
}

@media (max-width: 1150px) {
  .app-container{
    margin: var(--space-xxl) var(--space-xl);
  }

  .description {
    max-width: 700px;
  }

  .projects {
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .card-detail {
  height: 550px;
  width: 830px;
  grid-template-columns: 4fr 3fr;
  font-size: var(--font-size-body);
  }

  .card-detail img {
    width: 435px;
    height: 400px;
  }

}

@media(max-width: 850px){
  .card-detail {
    height: 850px;
    width: 450px;
    grid-template-columns: none;
    grid-template-rows: 2fr 3fr;
    }
  .card-detail img {
    margin-top: var(--space-md);
      width: 405px;
      height: 360px;
  }
  .info {
    margin:var(--space-none) var(--space-md);
  }
  
}


@media (max-width: 800px) {

  .app-container{
    margin: var(--space-xl);
  }

  .title {
    font-size: var(--font-size-h1);
  }
  .description {
      max-width: 500px;
    }
  .nav-btn span {
    display: none;
  }

  .projects {
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .contact h1 {
  font-size: var(--font-size-h1);
  }
}

@media (max-width: 450px) {
  .app-container {
    margin: var(--space-xl) var(--space-lg);
  }

  .title {
    margin-top: var(--space-sm);
    font-size: var(--font-size-h2);
  }

  .card-detail {
    width: 380px;
    }
  .card-detail img {
    width: 350px;
    height: 300px;
  }
}

